{% extends "base.html" %}
{% block content %}
        <div class="container mt-5">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <h3 class="text-center rounded-box">Are you sure that you want to delete the skill "{{ bucketskill.skill }}"?</h3>
                    <hr class="gradient">
                </fieldset>
                <div class="text-center">
                    <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                    <a class="btn btn-outline-secondary" href="{% url 'bucket_skills' %}" >Cancel</a>
                </div>
            </form>
        </div>
{% endblock content %}