{% extends "base.html" %}
{% load static %}
{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<div class="container-fluid">
    <div id="homepageCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for slide in slides %}
                <div class="carousel-item {% if forloop.first %} active {% endif %}">
                    <img class="d-block w-100" src="{% static slide.image %}" alt="{{slide.title}}">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 class="text-dark">{{slide.content.0}}</h1>
                        <h3 class="text-dark">{{slide.content.1}}</h3>
                        <p class="text-dark">{{slide.content.2}}</p>
                        <p class="text-dark">{{slide.content.3}}</p>

                    </div>
                </div>
            {% endfor %}
        </div>
<!--            carousel control:-->

            <button class="carousel-control-prev" type="button" data-bs-target="#homepageCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#homepageCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

{% endblock content %}
