{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <legend class="border-bottom mb-4">Your Bucket List Matches:</legend>

    {% for skill, data_list in matching_data.items %}
        <div class="mt-4">
            <h2>
                Skill: {{ skill }}
                <h2>Matching Profiles:</h2>
                <div class="row mt-3">
                {% for dict in data_list %}
                    <h3>
                        Username: {{ dict.user.username }}

                        Proficiency level: {{ dict.user_skill.proficiency_level }}

                        Notes: {{ dict.user_skill.notes }}
                    </h3>
                    <img class="rounded-circle account-img" src="{{ dict.user.profile.image.url }}">
                {% endfor %}
                </div>
            </h2>
        </div>
    {% endfor %}
</div>
{% endblock content %}
