{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
  <div class="row">
      <div class="col-md-5">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
      </div>
      <div class="col-md-5">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
        <button type="button" class="btn btn-outline-primary btn-lg mb-2"><a href="{% url 'user_skills' %}">Your Skills</a></button>
        <button type="button" class="btn btn-outline-primary btn-lg mb-2"><a href="{% url 'bucket_skills' %}">Bucket List</a></button>
      </div>
  </div>

  <form method="POST" enctype="multipart/form-data" class="mt-5">
    {% csrf_token %}
    <fieldset class="form-group">
        <h2>Edit Your Profile</h2>
        <hr class="gradient">

        <div class="mb-3">

            {% for field in user_form %}
              <div class="form-group">
                <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
                {{ field }}
                  {% if field.errors %}
                      <div class="alert alert-danger">
                        {{ field.errors.0 }}
                      </div>
                  {% endif %}
              </div>
            {% endfor %}
        </div>

        <div class="mb-3">
             {% for field in profile_form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
        </div>
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-primary" type="submit">Update</button>
    </div>
</form>
    <hr class="gradient">
    <small>
        <a href="{% url 'delete_account' %}">Delete Account</a>
    </small>
</div>
{% endblock content %}